<h1 class="home">
  <a href="#/home#group4">
    <span class="glyphicon glyphicon-arrow-left"></span>
    <span class="glyphicon glyphicon-home"></span>
  </a>
</h1>
<div class="">
  <div class="detail-page">
    <div class="header">
      <h1>Git up</h1>
      <h3>About</h3>
      <p>
        My 2nd semester full stack project was a group project. GitUp is a web app to track activity and rewards for children. Checkout the video to see more features.
      </p>
    </div>
    <div class="movie-container">
      <iframe width="750" height="620"
      src="http://www.youtube.com/embed/iX6JHrBMzcA?autoplay=0">
      </iframe>
      <p>
        View the deployed site at http
      </p>
    </div>
  </div>
