<div class="parallax">
  <div id="group2" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="title">{{phrase}}</div>
    </div>
    <div class="parallax__layer parallax__layer--back">
      <div class="title"></div>
    </div>
  </div>
  <div id="group3" class="parallax__group">
    <!-- <div class="parallax__layer parallax__layer--fore">
      <div class="title">Foreground Layer</div>
    </div> -->
    <div class="parallax__layer parallax__layer--base overview">
      <h1>Overview</h1>
      <p>
        livin Life Mother Fuckers
      </p>
      <a href="https://www.linkedin.com/in/eliparkhurst" target="_blank" class="btn btn-default"><span class="fa fa-linkedin-square"> Linked In</a>
      <a href="https://github.com/eparkhurst" target="_blank" class="btn btn-default"><span class="fa fa-github-square"></span> Git Hub</a>
      <a href="mailto:eli.parkhurst@gmail.com" class="btn btn-default"><span class="glyphicon glyphicon-envelope"></span> Email</a>
    </div>
  </div>
  <div id="group4" class="parallax__group">
    <div class="parallax__layer parallax__layer--base portfolio">
      <div class="title">Group 4</div>
      <div class="portfolio-item">1</div>
      <div class="portfolio-item">2</div>
      <div class="portfolio-item">3</div>
    </div>
    <div class="parallax__layer parallax__layer--back">
      <div class="title">Background Layer</div>
    </div>
    <div class="parallax__layer parallax__layer--deep">
      <div class="title">Deep Background Layer</div>
    </div>
  </div>
  <div id="group5" class="parallax__group">
    <div class="parallax__layer parallax__layer--fore">
      <div class="title">Foreground Layer</div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Group 5</div>
    </div>
  </div>
  <div id="group6" class="parallax__group">
    <div class="parallax__layer parallax__layer--back">
      <div class="title">background</div>
    </div>
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Base Layer</div>
    </div>
  </div>
  <div id="group7" class="parallax__group">
    <div class="parallax__layer parallax__layer--base">
      <div class="title">Base Layer</div>
    </div>
  </div>
</div>
