<h1 class="home">
  <a href="#/home#group4">
    <span class="glyphicon glyphicon-arrow-left"></span>
    <span class="glyphicon glyphicon-home"></span>
  </a>
</h1>

<div class="detail-page">
  <div class="header">
    <h1>Movie Picker</h1>
    <h3>About</h3>
    <p>
      Movie Picker was my first semester full stack project. It is a simple app designed with only html,css and jquery that allows the user to pick which movie they think will have a higher IMDB score and then see their results
    </p>
  </div>
  <div class="movie-container">
    <iframe width="750" height="620"
    src="http://www.youtube.com/embed/UTl6Q5LOHqU?autoplay=0">
    </iframe>
    <a href="https://intense-heat-9278.firebaseapp.com/" target="_blank"> <p>
      Visit the Deployed app
    </p></a>
  </div>
</div>
